In [13]:
## Importing Libraries
import pandas as pd

# To view all columns
pd.set_option('display.max_columns', None)

In [10]:
## Reading the donar file
donar_df = pd.read_excel(r'..\Data\original_data\SampleDonorData2.xlsx')

### Understanding the data and file structure

In [14]:
donar_df.head()

,TARGET_B,TARGET_D6,TARGET_D12,TARGET_D18,TARGET_D24,CONTROL_NUMBER,MONTHS_SINCE_ORIGIN,NUMBER_OF_RESP,DONOR_AGE,IN_HOUSE,URBANICITY,CLUSTER_CODE,HOME_OWNER,DONOR_GENDER,INCOME_GROUP,PUBLISHED_PHONE,WEALTH_RATING,MEDIAN_HOME_VALUE,MEDIAN_HOUSEHOLD_INCOME,PCT_OWNER_OCCUPIED,PEP_STAR,RECENT_STAR_STATUS,RECENCY_FREQ_STATUS,RECENT_CARD_RESPONSE_PROP,MONTHS_SINCE_LAST_PROM_RESP,LAST_GIFT_AMT,NUMBER_PROM_12,MONTHS_SINCE_LAST_GIFT,MONTHS_SINCE_FIRST_GIFT
0,0,0.0,0.0,0.0,0.0,6875,137,15,42.0,1,S,11.0,H,F,6.0,1,9.0,1556,421,45,1,0,A4,0.400,17.0,189.0,15,17,128
1,0,0.0,0.0,0.0,0.0,8384,65,33,42.0,1,R,53.0,U,M,NaN,0,1.0,310,163,79,1,0,A1,0.000,NaN,0.0,33,7,57
2,0,0.0,0.0,0.0,0.0,8863,53,16,42.0,1,U,7.0,H,M,5.0,0,6.0,1307,310,55,0,0,A1,0.167,20.0,0.0,16,20,57
3,0,0.0,0.0,0.0,0.0,10001,53,33,42.0,0,C,22.0,U,M,NaN,0,2.0,675,278,18,1,1,S3,0.125,18.0,0.0,33,18,52
4,0,0.0,0.0,0.0,0.0,14064,17,28,42.0,1,C,24.0,H,M,6.0,0,NaN,919,519,85,0,0,F1,0.000,17.0,50.0,28,20,20

In [12]:
donar_df.shape

(19971, 29)

In [16]:
## Checking if multiple donations/campaigns are present for a single donor
# donar_df['CONTROL_NUMBER'].value_counts() 
donar_df['CONTROL_NUMBER'].value_counts().value_counts()

1    18834
2      483
3       50
4        4
5        1
Name: CONTROL_NUMBER, dtype: int64

#### 1. Duplicate values

In [17]:
## checking for number of duplicates
donar_df.duplicated().sum()

38

In [25]:
## Exploring and Understanding the duplicates
donar_df[donar_df.duplicated(keep = False)].sort_values(by='CONTROL_NUMBER')

,TARGET_B,TARGET_D6,TARGET_D12,TARGET_D18,TARGET_D24,CONTROL_NUMBER,MONTHS_SINCE_ORIGIN,NUMBER_OF_RESP,DONOR_AGE,IN_HOUSE,URBANICITY,CLUSTER_CODE,HOME_OWNER,DONOR_GENDER,INCOME_GROUP,PUBLISHED_PHONE,WEALTH_RATING,MEDIAN_HOME_VALUE,MEDIAN_HOUSEHOLD_INCOME,PCT_OWNER_OCCUPIED,PEP_STAR,RECENT_STAR_STATUS,RECENCY_FREQ_STATUS,RECENT_CARD_RESPONSE_PROP,MONTHS_SINCE_LAST_PROM_RESP,LAST_GIFT_AMT,NUMBER_PROM_12,MONTHS_SINCE_LAST_GIFT,MONTHS_SINCE_FIRST_GIFT
18491,0,0.0,0.0,0.0,0.0,2798,21,13,NaN,0,?,NaN,U,F,NaN,0,NaN,1073,160,39,0,0,N3,1.000,21.0,NaN,13,15,21
18490,0,0.0,0.0,0.0,0.0,2798,21,13,NaN,0,?,NaN,U,F,NaN,0,NaN,1073,160,39,0,0,N3,1.000,21.0,NaN,13,15,21
18500,0,0.0,0.0,0.0,0.0,3054,29,27,NaN,1,?,NaN,U,U,NaN,0,NaN,611,202,67,0,0,A2,0.364,29.0,35.00,27,5,44
18501,0,0.0,0.0,0.0,0.0,3054,29,27,NaN,1,?,NaN,U,U,NaN,0,NaN,611,202,67,0,0,A2,0.364,29.0,35.00,27,5,44
18572,0,0.0,0.0,0.0,0.0,6286,125,15,NaN,1,U,1.0,U,F,2.0,0,5.0,4050,611,87,0,0,A2,0.100,125.0,NaN,15,19,125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8210,0,0.0,0.0,0.0,0.0,179869,344,12,55.0,0,S,12.0,H,M,6.0,1,6.0,1267,328,64,1,0,L1,0.100,15.0,0.00,12,15,123
4346,0,0.0,0.0,0.0,0.0,189438,53,12,56.0,0,U,4.0,U,M,2.0,1,NaN,1563,263,28,0,0,A3,0.333,53.0,103.86,12,20,52
4345,0,0.0,0.0,0.0,0.0,189438,53,12,56.0,0,U,4.0,U,M,2.0,1,NaN,1563,263,28,0,0,A3,0.333,53.0,103.86,12,20,52
9566,0,0.0,0.0,0.0,0.0,190408,11,4,66.0,0,C,28.0,U,U,NaN,0,3.0,713,255,90,1,0,E2,0.500,11.0,0.00,4,19,110
9567,0,0.0,0.0,0.0,0.0,190408,11,4,66.0,0,C,28.0,U,U,NaN,0,3.0,713,255,90,1,0,E2,0.500,11.0,0.00,4,19,110

About 38 records are duplicate and will be dropping them from the data.

In [26]:
## Dropping the duplicates
df_cleaned = donar_df.drop_duplicates(keep = 'last')
df_cleaned.shape

(19933, 29)

#### 2. Missing Data overview

Exploring the data further to see if any columns are missing values and how many are missing and come up with a plan to impute as we have only 20k records

In [28]:
null_columns = df_cleaned.isnull().sum()
null_columns[null_columns > 0]

DONOR_AGE                      4965
CLUSTER_CODE                    465
INCOME_GROUP                   4515
WEALTH_RATING                  9067
MONTHS_SINCE_LAST_PROM_RESP     223
LAST_GIFT_AMT                  1847
dtype: int64